button.plusBtn{
    background-color: #337aff;
    corner-radius: 20px;
    border-width: 2px;
    border-color: #337aff;
}

button.plusBtn:hover{
    background-color: #0e42a1;
    border-color: #0e42a1;
}

label.plusBtnLabel{
    color: #ffffff;
    font-size: 12;
}

button.minusBtn{
    background-color: transparent;
    corner-radius: 20px;
    border-width: 2px;
    border-color: #337aff;
}

button.minusBtn:hover{
    background-color: grey;
}

label.minusBtnLabel{
    color: #337aff;
    font-size: 12;
}

label.value{
    color: darkgray;
    font-weight: 200;
    letter-spacing: 1.5;
    font-size: 120;
    alignment: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    gap: 60px;
    alignment: center;
}